@model PassportGeneratingSystem.Models.UserDetail

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Booking</title>
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>

<h4 class="book">Booking Appointment</h4>
<hr/>
<div class="row" style="margin-left:40%;">
    <div class="col-md-4">
        <form asp-action="Booking">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="bookplace form-group">
                <label asp-for="BookingPlace" class="bklabel control-label"></label>
                    <select asp-for="BookingPlace" class="bookp form-control">
                        <option>Select Passport Office</option>
                        <option>Ahmedabad</option>
                        <option>Bengaluru</option>
                        <option>Chennai</option>
                        <option>Cochin</option>
                        <option>Coimbatore</option>
                        <option>Madurai</option>
                        <option>Mumbai</option>
                        <option>Pune</option>
                        <option>Tiruchirappalli</option>
                        <option>Trivandrum</option>
                    </select>
            </div>
                <div class="bookplace form-group">
                    <label asp-for="BookingDate" class="bklabel control-label"></label>
                    <input asp-for="BookingDate" class="bookd form-control" type="date"/>
                    <span asp-validation-for="BookingDate" class="text-danger"></span>
                </div>
            <div class="form-group">
                    <input type="submit" value="Book Now" class="booknow"/>
            </div>
        </form>
    </div>
</div>

<div class="back">
    <a asp-controller="Home" asp-action="UserMain">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
