@{
    Layout = null;
    var successMessage = TempData["Success"]?.ToString();
}
@if (successMessage != null)
{
    <div class="alert alert-success">
        <b>Success: </b>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
}

<html>
<head>
    <title>Admin MainPage</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container" style="margin-left:-5px;">
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-primary">Admin Home</h3>
            <a class="default list-group-item list-group-item-action load-page">View/Edit Applications</a>
            <a asp-controller="" asp-action="" class="list-group-item list-group-item-action">Admin Detail</a>
            <a asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action text-danger">Logout</a>
        </div>
        <div class="col-md-8">
            <div id="content-area">
            </div>
        </div>
    </div>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>