@{
    ViewBag.Title = "Chief Passport Officer Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contact-section">
    <h3>Chief Passport Officer</h3>
    <p>
        The Central Passport Organization, which is a subordinate office of the Ministry of External Affairs,
        is headed by Joint Secretary and Chief Passport Officer.
    </p>

    <h4 style="margin-left:-950px">Dr. K J Srinivasa</h4>
    <p>
        Joint Secretary (PSP) and CPO <br>
        PSP Division, Ministry of External Affairs <br>
        Room No. 27, Patiala House, Tilak Marg <br>
        New Delhi - 110001 <br>
        <strong>Phone:</strong> +91 11 23387013 / 23384536 <br>
        <strong>Fax:</strong> +91-11-23071370 <br>
        <strong>Email:</strong> <a href="mailto:jscpo@mea.gov.in">jscpo@mea.gov.in</a>
    </p>

    <h3>Passport Seva</h3>
    <p>
        Your feedback and suggestions on the Passport Seva Project may be addressed to:
    </p>

    <h4 style="margin-left:-925px">Shri S. Koventhan</h4>
    <p>
        Director (PSP) <br>
        PSP Division, Ministry of External Affairs <br>
        Patiala House, Tilak Marg, New Delhi - 110001 <br>
        <strong>Phone:</strong> +91-11-23386064
    </p>
</div>
